body {
    margin: 0;
    font-size: 100%;
    font-weight: normal;
  }
  * {
    box-sizing: border-box;
  }
  body {
    font-family: 'Helvetica', 'Arial', sans-serif;
    text-align: center;
  }
  .button {
    margin: 10% auto 0 auto;
    width: 350px;
    height: 250px;
    padding: 45px 45px 70px 45px;
    display: flex;
    box-shadow: 4px 4px 5px rgba(32, 25, 25, 0.671);
    background-color: rgb(255, 237, 215);
  }
  .card-title {
    font-size: 24px;
    font-weight: 500;
    margin: auto;
    /* margin-bottom: 10px; */
  }